////
/// @group  Extend
////


// FONTS
%fontFamilyRoboto {
  font-family: 'Roboto', sans-serif;
}
%fontFamilyOpenSans {
  font-family: 'Open Sans', sans-serif;
}
// FONTS :: end


// IMAGE
%imageResMaxWidth {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
// IMAGE :: end