//- DATA FORM :: START

-
  var dataFormObj = {
    inputName: {
      classMod: "",
      uniqueName: "name",
      labelVal: "First Name",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputAgencyName: {
      classMod: "",
      uniqueName: "agency_name",
      labelVal: "Agency Name",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputAgencyStatus: {
      classMod: "",
      uniqueName: "agency_status",
      labelVal: "Agency Status",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputMiddleName: {
      classMod: "",
      uniqueName: "middle_name",
      labelVal: "Middle Name",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputLastName: {
      classMod: "",
      uniqueName: "last_name",
      labelVal: "Last Name",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputSsn: {
      classMod: "",
      uniqueName: "ssn",
      labelVal: "SSN",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputPin: {
      classMod: "",
      uniqueName: "pin",
      labelVal: "Pin",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputPinConfirm: {
      classMod: "",
      uniqueName: "pin_confirm",
      labelVal: "Confirm Pin",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputQuestion: {
      classMod: "",
      uniqueName: "qustion",
      labelVal: "Qustion",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputAnswer: {
      classMod: "",
      uniqueName: "answer",
      labelVal: "Answer",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputEmail: {
      classMod: "",
      uniqueName: "email",
      labelVal: "Email",
      inputType: "email",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputPassword: {
      classMod: "",
      uniqueName: "password",
      labelVal: "Password",
      inputType: "password",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputPasswordConfirm: {
      classMod: "",
      uniqueName: "password_confirm",
      labelVal: "Confirm Password",
      inputType: "password",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputPrimaryUsername: {
      classMod: "",
      uniqueName: "primary_username",
      labelVal: "Primary Username",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputWebsiteURL: {
      classMod: "",
      uniqueName: "website_url",
      labelVal: "Website URL",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputStreetAddress: {
      classMod: "",
      uniqueName: "street_address",
      labelVal: "Street Address",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputZip: {
      classMod: "",
      uniqueName: "street_zip",
      labelVal: "Zip",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputWorkPhone: {
      classMod: "",
      uniqueName: "work_phone",
      labelVal: "Work Phone",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputMobilePhone: {
      classMod: "",
      uniqueName: "mobile_phone",
      labelVal: "Mobile Phone",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },

    radioFieldLogin1: {
      classMod: "",
      labelVal: "",
      uniqueName: "login_choose_agency",
      radioGroupName: "login_choose",
      radioValue: "login_choose",
      radioClassMod: "",
      radioContent: "Client account"
    },
    radioFieldLogin2: {
      classMod: "",
      labelVal: "",
      uniqueName: "login_choose_client",
      radioGroupName: "login_choose",
      radioValue: "login_choose",
      radioClassMod: "",
      radioContent: "Agency account"
    },

    checkboxField: {
      classMod: "",
      labelVal: "Checkbox label name",
      uniqueName: "checkbox",
      checkboxValue: "checkbox",
      checkboxClassMod: "",
      checkboxContent: "Some checkbox content"
    },

    textareaField: {
      classMod: "",
      uniqueName: "message",
      labelVal: "Message",
      textareaClassMod: "",
      placeholderVal: "Type your message",
      val: ""
    },

    selectFieldCustomDBDay: {
      classMod: "",
      uniqueName: "select_date_day",
      labelVal: "Day",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: ""
    },
    selectFieldCustomDBMonth: {
      classMod: "",
      uniqueName: "select_date_month",
      labelVal: "Month",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: ""
    },
    selectFieldCustomDBYear: {
      classMod: "",
      uniqueName: "select_date_year",
      labelVal: "Year",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: ""
    },
    selectCustomAgencyType: {
      classMod: "",
      uniqueName: "select_agency_type",
      labelVal: "Agency Type",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: ""
    },
    selectCustomCity: {
      classMod: "",
      uniqueName: "select_city",
      labelVal: "City",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: ""
    },
    selectCustomState: {
      classMod: "",
      uniqueName: "select_state",
      labelVal: "State",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: ""
    },
    selectCustomCountry: {
      classMod: "",
      uniqueName: "select_country",
      labelVal: "Country",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: ""
    },

    selectFieldSelectric: {
      classMod: "",
      uniqueName: "login_selectric",
      labelVal: "Select selectric",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your..."
    },

    notifyNameMessage : ['This field is required.'],
    notifyEmailMessage : ['Please enter a valid email address.'],
    notifyPasswordMessage : ['Please enter no more than {8} characters.'],
    notifyTextareaMessage : ['This field is required.'],
    notifySelectMessage : ['This field is required.'],
    notifyRadioMessage : ['This field is required.'],
    notifyCheckboxMessage : ['This field is required.']
  };

//- DATA FORM :: END