// COMMON :: START

@mixin horScroll($classMod, $mVal, $wVal) {
  #{$classMod} & {
    @include adaptive($mVal) {
      overflow: hidden;
      overflow-x: auto;

      .section__wrapper-hscroll {
        display: inline-block;
        max-width: $wVal;
        width: $wVal;
      }
    }
  }
}

// section
.section {
  &--client {
    .section__wrapper-left {
      width: 423px;
      border-right: 1px solid $c-whisper;
      @include adaptive(1199) {
        width: 320px;
      }
      @include adaptive(767) {
        width: 70px;
      }
    }

    .section__wrapper-right {
      width: 100%;
      max-width: calc(100% - 423px);
      @include adaptive(1199) {
        max-width: calc(100% - 320px);
      }
      @include adaptive(767) {
        max-width: calc(100% - 70px);
      }
    }
  }

  &--agency {
    .section__wrapper-left {
      z-index: 2;
      width: 271px;
      @include adaptive(1365) {
        width: 70px;
      }
    }

    .section__wrapper-right {
      z-index: 1;
      width: 100%;
      max-width: calc(100% - 271px);
      border-left: 1px solid $c-whisper;
      @include adaptive(1365) {
        max-width: calc(100% - 70px);
      }

      @include horScroll('.p-agency-interviews', 767, 698px);
      @include horScroll('.p-agency-staff', 991, 922px);
      @include horScroll('.p-agency-push-cloud', 767, 698px);
      @include horScroll('.p-agency-m-schedule', 1199, 1129px);
      @include horScroll('.p-agency-doc-lib', 767, 698px);
      @include horScroll('.p-agency-vid-t', 767, 698px);
      @include horScroll('.p-agency-q-report', 1199, 1129px);
      @include horScroll('.p-agency-services-rendered', 1199, 1129px);
    }
  }

  &-top {
    z-index: 100;
    position: relative;
    top: -70px;
    height: calc(100% + 70px);

    &__heading {
      display: flex;
      min-height: 70px;
      background-color: $c-white;
      border-bottom: 1px solid $c-whisper;

      &-left {
        display: flex;
        align-items: center;
        flex: 1;
        min-width: 1px;
        max-width: 100%;
        padding: 5px 30px;

        p {
          color: #111;
          font-size: 16px;
          font-weight: 600;
        }
      }

      &-right {
        width: 87px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          border-left: 1px solid $c-whisper;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            background-color: $c-nobel;
          }

          .icon-close {
            color: $c-white;
            font-size: 7px;
          }
        }
      }
    }

    &__content {
      display: flex;
      height: calc(100% - 70px);

      &-left {
        width: 270px;
        background-color: $c-white;
        border-right: 1px solid $c-whisper;
      }

      &-right {
        width: 100%;
      }
    }
  }

  &__wrapper {
    display: flex;
    min-height: calc(100vh - 70px);

    &-hscroll {
      height: 100%;
    }

    &-left {
      position: relative;
      background: #FFFFFF;
    }

    &-right {
      position: relative;
      background-color: #FCFCFC;

      &--two {
        display: flex;
      }

      &--left {
        width: 100%;
        max-width: calc(100% - 456px);

        @include horScroll('.p-agency-doc-lib', 991, 922px);

        .p-agency-doc-lib & {
          overflow: hidden !important;
        }
      }

      &--right {
        width: 456px;
        border-left: 1px solid $c-whisper;
        background-color: $c-white;
      }
    }

    &-box {
      width: 100%;
      max-width: 554px;
      margin-left: auto;
      margin-right: auto;
      padding: 60px 15px;
    }
  }
}
// section :: end

// title
.h {
  &-title {
    padding-bottom: 20px;
    color: #555555;
    font-size: 22px;
    font-weight: 600;
  }

  &-line {
    width: 80px;
    height: 2px;
    margin-bottom: 19px;
    border-radius: 1px;
    background-color: #295DD9;
  }

  &-desc {
    color: #9B9B9B;
    line-height: line-height-convert(22.4, 14);
  }
}
// title :: end

// custom radio
.c-radio,
.c-checkbox {
  &--input {
    label {
      span {
        width: 70%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
      .c-form__input-wrapper {
        width: 30%;
        background-color: #fff;

        input {
          width: 100%;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  &__field {
    position: relative;
    display: flex;
  }

  &__input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;

    &:checked {
      &+label {
        span {
          border-color: $c-royalBlue;
          background-color: $c-royalBlue;
          color: #ffffff;
          @include transition(border-color, background-color, color);
        }
      }
    }
  }

  &__label {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;

    &:hover {
      span {
        background-color: #EBEBEB;
        @include transition(border-color, background-color);
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      height: 50px;
      padding: 5px 20px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid #EBEBEB;
      color: #9B9B9B;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      @include transition(border-color, background-color, color);
      @include adaptive(767) {
        font-size: 14px;
      }
    }
  }
}
// custom radio :: end

// address
.address {
  display: flex;
  flex-direction: column;
  @include adaptive(575) {
    align-items: center;
  }

  &__email,
  &__info,
  &__phone {
    padding-bottom: 10px;
    color: #555555;
    line-height: line-height-convert(32, 14);
  }

  &__email,
  &__phone {
    @include transition(opacity);

    &:hover {
      opacity: 0.75;
      @include transition(opacity);
    }
  }
}
// address :: end

// copyright
.copyright {
  p {
    color: #9B9B9B;
  }
}
// copyright :: end

// COMMON :: END