// COMMON :: START

// section
.section {
  &--client {
    .section__wrapper-left {
      width: 423px;
      box-shadow: 0.5px 0 0 0 #EBEBEB;
    }

    .section__wrapper-right {
      width: 100%;
      max-width: calc(100% - 423px);
    }
  }

  &--agency {
    .section__wrapper-left {
      width: 271px;
    }

    .section__wrapper-right {
      width: 100%;
      max-width: calc(100% - 271px);
      border-left: 1px solid $c-whisper;
    }
  }

  &__wrapper {
    display: flex;
    min-height: calc(100vh - 70px);

    &-left {
      z-index: 1;
      position: relative;
      background: #FFFFFF;
    }

    &-right {
      z-index: 2;
      position: relative;
      background-color: #FCFCFC;

      &--two {
        display: flex;
      }

      &--left {
        width: 100%;
        max-width: calc(100% - 456px);
      }

      &--right {
        width: 456px;
        border-left: 1px solid $c-whisper;
        background-color: $c-white;
      }
    }

    &-box {
      width: 100%;
      max-width: 554px;
      margin-left: auto;
      margin-right: auto;
      padding: 60px 15px;
    }
  }
}
// section :: end

// title
.h {
  &-title {
    padding-bottom: 20px;
    color: #555555;
    font-size: 22px;
    font-weight: 600;
  }

  &-line {
    width: 80px;
    height: 2px;
    margin-bottom: 19px;
    border-radius: 1px;
    background-color: #295DD9;
  }

  &-desc {
    color: #9B9B9B;
    line-height: line-height-convert(22.4, 14);
  }
}
// title :: end

// custom radio
.c-radio,
.c-checkbox {
  &--input {
    label {
      span {
        width: 70%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
      .c-form__input-wrapper {
        width: 30%;
        background-color: #fff;

        input {
          width: 100%;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  &__field {
    position: relative;
    display: flex;
  }

  &__input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;

    &:checked {
      &+label {
        span {
          border-color: $c-royalBlue;
          background-color: $c-royalBlue;
          color: #ffffff;
          @include transition(border-color, background-color, color);
        }
      }
    }
  }

  &__label {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;

    &:hover {
      span {
        background-color: #EBEBEB;
        @include transition(border-color, background-color);
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      height: 50px;
      padding: 5px 20px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid #EBEBEB;
      color: #9B9B9B;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      @include transition(border-color, background-color, color);
    }
  }
}
// custom radio :: end

// address
.address {
  display: flex;
  flex-direction: column;

  &__email,
  &__info,
  &__phone {
    padding-bottom: 10px;
    color: #555555;
    line-height: line-height-convert(32, 14);
  }

  &__email,
  &__phone {
    @include transition(opacity);

    &:hover {
      opacity: 0.75;
      @include transition(opacity);
    }
  }
}
// address :: end

// copyright
.copyright {
  p {
    color: #9B9B9B;
  }
}
// copyright :: end

// COMMON :: END