// SECTION client interview place residence :: START

#ci.ci.ci--placeResidence

  p.ci__title!= "Are you homeless?"
  hr.ci__divider
  p.ci__title!= "What is your residence address ?"
  hr.ci__divider
  .ci__btn-wrapper
    a.ci__btn(href="#" class="" title="")!= "Next"

// SECTION client interview place residence :: END