// SECTION client interview monthly expenses :: START

#ci.ci.ci--monthlyExpenses

  p.ci__title!= "Do you pay any of the following?"
  hr.ci__divider
  .ci__btn-wrapper
    a.ci__btn(href="#" class="" title="")!= "Finish"

// SECTION client interview monthly expenses :: END