// SECTION client interview place residence :: START

-
  var dataFormObj = {
    inputName1: {
      classMod: "",
      uniqueName: "street_address",
      labelVal: "Street",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputName2: {
      classMod: "",
      uniqueName: "city_address",
      labelVal: "City",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputName3: {
      classMod: "",
      uniqueName: "state_address",
      labelVal: "State",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputName4: {
      classMod: "",
      uniqueName: "zip_address",
      labelVal: "Zip",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputName5: {
      classMod: "",
      uniqueName: "country_address",
      labelVal: "Country",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputSearch: {
      classMod: "c-form__field--wsearch",
      uniqueName: "country",
      labelVal: "Country",
      inputType: "",
      inputClassMod: "c-form__input-search",
      placeholderVal: "",
      val: ""
    },
    selectCustomCity: {
      classMod: "",
      uniqueName: "select_city",
      labelVal: "City",
      selectClassMod: "",
      selectOption: [
      'Some option 1',
      'Some option 2',
      'Some option 3'
      ],
      placeholderVal: ""
    },
    selectCustomState: {
      classMod: "",
      uniqueName: "select_state",
      labelVal: "State",
      selectClassMod: "",
      selectOption: [
      'Some option 1',
      'Some option 2',
      'Some option 3'
      ],
      placeholderVal: ""
    },
  };

#ci.ci.ci--placeResidence

  form.c-form(action='' method='' autocomplete='off')

    p.ci__title!= "Are you homeless?"

    .ci__row
      .ci__col-1-2
        +clientInterviewRadioBtn('ci-homeless-yes', 'ci-homeless', 'Yes')(checked="checked")
      .ci__col-1-2
        +clientInterviewRadioBtn('ci-homeless-no', 'ci-homeless', 'No')

    hr.ci__divider
    p.ci__title!= "What is your residence address ?"

    +formInput(dataFormObj.inputName1)
    //+formInput(dataFormObj.inputName2)
    +formSelectCustom(dataFormObj.selectCustomCity)

    .ci__row
      .ci__col-1-70
        //+formInput(dataFormObj.inputName3)
        +formSelectCustom(dataFormObj.selectCustomState)
      .ci__col-1-30
        +formInput(dataFormObj.inputName4)

    //+formInput(dataFormObj.inputName5)
    +formInput(dataFormObj.inputSearch)

    hr.ci__divider
    .ci__btn-wrapper
      a.ci__btn(href="client-interview-5.html" class="" title="")!= "Next"

// SECTION client interview place residence :: END