// SECTION client interview medical insurance :: START

#ci.ci.ci--medicalInsurance

  p.ci__title!= "Do you have medical insurance?"
  hr.ci__divider
  p.ci__title!= "What kinds of insurance do you have?"
  hr.ci__divider
  .ci__btn-wrapper
    a.ci__btn(href="#" class="" title="")!= "Next"

// SECTION client interview medical insurance :: END