// SECTION client interview drivers licence :: START

-
  var dataFormObj = {
    inputName1: {
      classMod: "",
      uniqueName: "state_issued",
      labelVal: "Type your answer",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    inputName2: {
      classMod: "",
      uniqueName: "license_number",
      labelVal: "Type your answer",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "",
      val: ""
    },
    selectCustomAnswer: {
      classMod: "",
      uniqueName: "select_answer",
      labelVal: "Type your answer",
      selectClassMod: "",
      selectOption: [
      'Some option 1',
      'Some option 2',
      'Some option 3'
      ],
      placeholderVal: ""
    },
  };

#ci.ci.ci--driversLicence

  form.c-form(action='' method='' autocomplete='off')

    p.ci__title!= "Do you have a driver's license?"

    .ci__row
      .ci__col-1-2
        +clientInterviewRadioBtn('ci-license-yes', 'ci-license', 'Yes')(checked="checked")
      .ci__col-1-2
        +clientInterviewRadioBtn('ci-license-no', 'ci-license', 'No')

    hr.ci__divider
    p.ci__title!= "What state is issued the license?"

    //+formInput(dataFormObj.inputName1)
    +formSelectCustom(dataFormObj.selectCustomAnswer)

    hr.ci__divider
    p.ci__title!= "What is your license number?"

    +formInput(dataFormObj.inputName2)

    hr.ci__divider
    .ci__btn-wrapper
      a.ci__btn(href="client-interview-4.html" class="" title="")!= "Next"

// SECTION client interview drivers licence :: END