// SECTION client interview congratulations :: START

#ci.ci.ci--congratulations

  h1.ci__header!= "Congratulations!"
  p.ci__desc!= "You have successfully completed the questionnaire"

  .ci__btn-wrapper
    a.ci__btn(href="/" class="" title="")!= "Back to Main Page"

// SECTION client interview congratulations :: END