// SECTION header internal :: START

section#header-i.header-i

  .header-i__wrapper
    .header-i__wrapper-left(class!= (mode === 'client') ? "header-i__wrapper-left--client": '')

      +logotypeText('header', '', 'Helpers United')

      if(mode === 'client')
        +btn('bg', '', "Push to cloud")

    .header-i__wrapper-right

      a.header-i__btn(href="/" class="" title="")
        i.icon-font.icon-signout

// SECTION header internal :: END