// SECTION header internal :: START

section#header-i.header-i

  .header-i__wrapper
    .header-i__wrapper-left

      +logotypeText('header', '', 'Helpers United')

    .header-i__wrapper-right

      a.header-i__btn(href="/" class="" title="")
        i.icon-font.icon-signout

// SECTION header internal :: END