// SECTION video tutorial modal :: START

#c-modal.c-modal.c-modal--vt
  .c-modal__wrapper
    .c-modal__content
      .c-modal__header
        p.c-modal__title!= "Video name"

        a.c-modal__close(href='agency-video-1.html' class="" title="")
          i.icon-font.icon-close

      .c-modal__body

      .c-modal__footer
        div
          a.c-modal__control.c-modal__control--play(href="#" class="" title="")
            span
              i.icon-font.icon-play
        div
          a.c-modal__progress(href="#" class="" title="")
            i

        div
          a.c-modal__control.c-modal__control--fullscreen(href="#" class="" title="")
            i.icon-font.icon-fullscreen
          a.c-modal__control.c-modal__control--volume(href="#" class="" title="")
            div
              i

            i.icon-font.icon-volume


// SECTION video tutorial modal :: END