---
title: HelpersUnited - Agency interview - Requests History Details

pageClassName: p-agency-push-cloud
pageClassNameNum: p-agency-push-cloud-4
documentLock: true
---
extends shared/_layout

block header
  include ./components/_header-internal

block footer

block modal
  include components/modal/_modal-push-cloud

block content
  div.body.body--start(class!= pageClassName)

    section#section.section.section--agency
      .section__wrapper
        .section__wrapper-left

          section#navigation.navigation--agency
            .navigation__wrapper

              ul.navigation__list
                +navigationItemAgency('0', 'interviews', 'Interviews')
                +navigationItemAgency('1', 'staff', 'Staff')
                +navigationItemAgency('2 is-active', 'pushCloud', 'Push-to-cloud')
                +navigationItemAgency('3', 'meetingSchedule', 'Meeting Schedule')
                +navigationItemAgency('4', 'documentLibraries', 'Document libraries')
                +navigationItemAgency('5', 'qa', 'Q&A')
                +navigationItemAgency('6', 'videoTutorials', 'Video tutorials')

        .section__wrapper-right

          include components/common/_tabs

          section#push-cloud.push-cloud

            .box__cover
              +sectionBox('pc', 'Request name', 'Aplplicant name', 'Rejected')
              +sectionBox('pc', 'Request name', 'Aplplicant name', 'Rejected')
              +sectionBox('pc', 'Request name', 'Aplplicant name', 'Approved')
              +sectionBox('pc', 'Request name', 'Aplplicant name', 'Approved')
              +sectionBox('pc', 'Request name', 'Aplplicant name', 'Approved')
