---
title: HelpersUnited - Agency - Meeting Schedule

pageClassName: p-agency-m-schedule
pageClassNameNum: p-agency-m-schedule-4
documentLock: true
---
extends shared/_layout

block header
  include ./components/_header-internal

block footer

block modal
  include components/modal/_modal-meeting-week-add-interview

block content
  div.body.body--start(class!= pageClassName)

    section#section.section.section--agency
      .section__wrapper
        .section__wrapper-left

          section#navigation.navigation--agency
            .navigation__wrapper

              ul.navigation__list
                +navigationItemAgency('0', 'interviews', 'Interviews', 'agency-interviews-1.html')
                +navigationItemAgency('1', 'staff', 'Staff', 'agency-staff-1.html')
                +navigationItemAgency('2', 'pushCloud', 'Push-to-cloud', 'agency-push-cloud-1.html')
                +navigationItemAgency('3 is-active', 'meetingSchedule', 'Meeting Schedule', 'agency-meeting-schedule-1.html')
                +navigationItemAgency('4', 'documentLibraries', 'Document libraries', 'agency-document-libraries-1.html')
                +navigationItemAgency('5', 'qa', 'Q&A', 'agency-qa.html')
                +navigationItemAgency('6', 'videoTutorials', 'Video tutorials', 'agency-video-1.html')

        .section__wrapper-right

          section#m-schedule.m-schedule

            include components/agency/_meeting-schedule-header

            .m-schedule__body

              include components/agency/_meeting-schedule-calendar