---
title: HelpersUnited - Agency - Document Libraries

pageClassName: p-agency-doc-lib
pageClassNameNum: p-agency-doc-lib-5
documentLock: true
---
extends shared/_layout

block header
  include ./components/_header-internal

block footer

block modal
  include components/modal/_modal-doc-lib

block content
  div.body.body--start(class!= pageClassName)

    section#section.section.section--agency
      .section__wrapper
        .section__wrapper-left

          section#navigation.navigation.navigation--agency
            .navigation__wrapper

              ul.navigation__list
                +navigationItemAgency('0', 'interviews', 'Interviews', 'agency-interviews-1.html')
                +navigationItemAgency('1', 'staff', 'Staff', 'agency-staff-1.html')
                +navigationItemAgency('2', 'pushCloud', 'Push-to-cloud', 'agency-push-cloud-1.html')
                +navigationItemAgency('3', 'meetingSchedule', 'Meeting Schedule', 'agency-meeting-schedule-1.html')
                +navigationItemAgency('4 is-active', 'documentLibraries', 'Document libraries', 'agency-document-libraries-1.html')
                +navigationItemAgency('5', 'qa', 'Q&A', 'agency-qa.html')
                +navigationItemAgency('6', 'videoTutorials', 'Video tutorials', 'agency-video-1.html')

        .section__wrapper-right
          .section__wrapper-hscroll

            include components/common/_tabs

            section#doc-lib.doc-lib

              .box__cover
                each val, idx in [1,2,3,4,5]
                  +sectionBox('dl', 'Document name', 'PDF', '', true, 'agency-document-libraries-5.html')
