---
title: HelpersUnited - Client interview - Biography

pageClassName: p-clien-interview
pageClassNameNum: p-clien-interview-1
---
extends shared/_layout

block header
  include ./components/_header-internal

block footer

block content
  div.body.body--start(class!= pageClassName)

    section#section.section.section--client
      .section__wrapper
        .section__wrapper-left

          section#navigation.navigation--client
            .navigation__wrapper

              ul.navigation__list
                +navigationItem('title is-done', '1', 'Agency')
                +navigationItem('title is-active', '2', 'Biography')
                +navigationItem('title', '3', 'Personal data')
                +navigationItem('subtitle', '', 'Medical Insurance')
                +navigationItem('subtitle', '', 'Driver’s license')
                +navigationItem('subtitle', '', 'Place of residence')
                +navigationItem('subtitle', '', 'Contacts')
                +navigationItem('title', '4', 'Employment information')
                +navigationItem('subtitle', '', 'Type of work')
                +navigationItem('subtitle', '', 'Income')
                +navigationItem('title', '5', 'Household member')
                +navigationItem('subtitle', '', 'Adults')
                +navigationItem('subtitle', '', 'Children')
                +navigationItem('title', '6', 'Other sources of income')
                +navigationItem('title', '7', 'Monthly expenses')

        .section__wrapper-right

          .section__wrapper-box

            include ./components/client/_ci-biography
