---
title: HelpersUnited - Client interview - Children

pageClassName: p-clien-interview
pageClassNameNum: p-clien-interview-9
---
extends shared/_layout

block header
  include ./components/_header-internal

block footer

block content
  div.body.body--start(class!= pageClassName)

    section#section.section.section--client
      .section__wrapper
        .section__wrapper-left

          section#navigation.navigation.navigation--client
            .navigation__wrapper

              ul.navigation__list
                +navigationItem('title is-done', '1', 'Agency')
                +navigationItem('title is-done', '2', 'Biography')
                +navigationItem('title is-done', '3', 'Personal data')
                +navigationItem('subtitle is-done', '3.1', 'Medical Insurance')
                +navigationItem('subtitle is-done', '3.2', 'Driver’s license')
                +navigationItem('subtitle is-done', '3.3', 'Place of residence')
                +navigationItem('subtitle is-done', '3.4', 'Contacts')
                +navigationItem('title is-done', '4', 'Employment information')
                +navigationItem('subtitle is-done', '4.1', 'Type of work')
                +navigationItem('subtitle is-done', '4.2', 'Income')
                +navigationItem('title is-active', '5', 'Household member')
                +navigationItem('subtitle is-done', '5.1', 'Adults')
                +navigationItem('subtitle is-active', '5.2', 'Children')
                +navigationItem('title', '6', 'Other sources of income')
                +navigationItem('title', '7', 'Monthly expenses')

        .section__wrapper-right

          .section__wrapper-box

            include ./components/client/_ci-children
