---
title: HelpersUnited - Log In Agency

pageClassName: p-login
---
extends shared/_layout

block header

block content
  div.body.body--start(class!= pageClassName)

    section#sign.sign.sign--loginAgency
      .sign__wrapper
        .sign__wrapper-left
          .sign__wrapper-top
            +logotypeText('sign', '', 'Helpers United')

          .sign__wrapper-bottom
            h1.sign__title!= "Helpers Unlimited"
            p.sign__desc!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,"


        .sign__wrapper-right

          .sign__form
            h2.sign__form-title!= "Log in as Agency"
            p.sign__form-link.sign__form-link--crete
              != "or "
              a(href="#" class="" title="")!= "create an account"

            form.c-form(action='' method='' autocomplete='off')
              +formInput(dataFormObj.inputName)
              +formInput(dataFormObj.inputMiddleName)
              +formInput(dataFormObj.inputLastName)

              .c-form__group.c-form__group--dob.c-form__group--three
                .c-form__group-col.c-form__group-col-0
                  +formSelectCustom(dataFormObj.selectFieldCustomDBDay)

                .c-form__group-col.c-form__group-col-1
                  +formSelectCustom(dataFormObj.selectFieldCustomDBMonth)

                .c-form__group-col.c-form__group-col-2
                  +formSelectCustom(dataFormObj.selectFieldCustomDBYear)

              +formInput(dataFormObj.inputSsn)
              +formInput(dataFormObj.inputPin)
              +formBtn('', 'c-btn c-btn--bg c-btn__form', 'Log in')

block footer
