---
title: HelpersUnited - Sign up as Client

pageClassName: p-signup
---
extends shared/_layout

block header

block content
  div.body.body--start(class!= pageClassName)

    section#sign.sign.sign--signupClient1
      .sign__wrapper
        .sign__wrapper-left
          .sign__wrapper-top
            +logotypeText('sign', '', 'Helpers United')

          .sign__wrapper-bottom
            h1.sign__title!= "Helpers Unlimited"
            p.sign__desc!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,"


        .sign__wrapper-right

          .sign__form
            h2.sign__form-title!= "Sign up as Client"
            p.sign__form-link.sign__form-link--crete
              != "or "
              a(href="#" class="" title="")!= "log"
              != " in to your account"
            
block footer