// SECTION document libraries :: START

.doc-lib {
  padding: 30px;

  &__section {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-header {
      display: flex;
      min-height: 70px;
      border-bottom: 1px solid $c-whisper;

      > div {
        &:nth-of-type(1) {
          display: flex;
          align-items: center;
          flex: 1;
          min-width: 1px;
          padding-left: 30px;
          padding-right: 30px;
        }
        &:nth-of-type(2) {
          display: flex;
          width: auto;
          max-width: 100%;
        }

        p {
          font-size: 16px;
          font-weight: 600;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 87px;
          min-height: 69px;
          border-left: 1px solid $c-whisper;

          .icon-close {
            color: $c-nobel;
            font-size: 12px;
          }
        }
      }
    }

    &-body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      min-height: 1px;
      max-width: 100%;

      &--start {
        align-items: flex-start;
        width: 100%;
      }
    }

    &-content {
      width: 100%;
      padding: 30px;
    }

    &-progress {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 26px;
      padding: 0 10px;
      margin-bottom: 20px;
      border-radius: 2px;
      border: 1px solid $c-whisper;
      
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 36%;
        height: 100%;
        background-color: #04CA67;
      }

      p {
        z-index: 2;
        position: relative;
        color: $c-white;
        line-height: 1;
        font-size: 12px;
        font-weight: 600;
      }

      &--full {
        span {
          width: 100%;
        }
      }
    }

    &-preview {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 257px;
      margin-bottom: 20px;
      border-radius: 4px;
      border: 1px solid $c-whisper;
      background-color: $c-whiteSmoke;
    }

    &-form {
      &--one {
        .c-form {
          &__group {
            align-items: center;
          }

          &__field--btn {
            .c-form__btn {
              margin-left: auto;
            }
          }
        }
      }

      .doc-lib__section-delete {
        display: flex;
        align-items: center;
        color: $c-nobel;

        .icon-delete {
          font-size: 15px;
        }

        span {
          padding-left: 15px;
          line-height: 1;
          font-size: 14px;
        }
      }

      .c-btn {
        max-width: 160px;
        margin-left: auto;
      }
    }
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .icon-upload {
      margin-bottom: 30px;
      color: $c-royalBlue;
      font-size: 40px;
    }

    p,
    span {
      color: $c-matterhorn;
    }

    p {
      padding-bottom: 7px;
      font-size: 16px;
    }
  }
}

// SECTION document libraries :: END