// SECTION interview interview :: START

.i-interview {
  &__wrapper {
    height: 100%;
  }

  &__body {
    height: calc(100% - 70px);
  }

  &__content {
    display: flex;
    height: calc(100% - 70px);

    &-left {
      width: 270px;
      background-color: $c-white;
      border-right: 1px solid $c-whisper;
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 270px);
    }
  }

  &__nav {
    &-list {
      display: flex;
      flex-direction: column;
    }

    &-btn {
      display: flex;
      align-items: center;
      min-height: 70px;
      padding: 5px 30px;
      border-bottom: 1px solid $c-whisper;
      color: $c-nobel;
      font-weight: 600;

      &.is-active {
        color: $c-matterhorn;
      }
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    padding: 5px 30px;
    border-bottom: 1px solid $c-whisper;

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      background-color: $c-white;
    }

    &-left,
    &-right {
      width: 100%;
      max-width: 50%;
    }

    &-right {
      border-left: 1px solid $c-whisper;
    }

    &-label {
      color: $c-nobel;
      line-height: 1;
      font-size: 12px;
      font-weight: 600;
    }

    &-value {
      line-height: 1;
    }
  }
}

// SECTION interview interview :: END