// SECTION meeting schedule :: START

.m-schedule {
  height: 100%;
  background-color: $c-white;

  // head
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    border-bottom: 1px solid $c-whisper;

    > div {
      display: flex;
      min-height: 69px;
    }
  }
  // head :: end

  // body
  &__body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);

    &-top {
      display: flex;
      height: 123px;
      border-bottom: 1px solid $c-whisper;
      overflow-y: scroll;

      > div {
        padding: 5px;

        &.is-active {
          background-color: #fcfcfc;
        }

        &:nth-of-type(1) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 92px;

          p {
            font-size: 12px;
            font-weight: 600;
          }
        }

        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7),
        &:nth-of-type(8) {
          width: 100%;
          max-width: calc((100% - 92px) / 7);
          padding: 22px 10px;
          border-left: 1px solid $c-whisper;

          p {
            color: $c-royalBlue;
            font-size: 12px;
            font-weight: 600;
          }

          span {
            color: $c-nobel;
            font-size: 22px;
            font-weight: 600;
          }
        }
      }
    }

    &-bottom {
      overflow-y: auto;
      max-height: calc(100vh - (140px + 123px));
    }

    &-content {
      max-height: 100%;

      > div {
        display: flex;

        > div {
          min-height: 77px;

          &.is-active {
            background-color: #fcfcfc;
          }

          &.is-mark {
            position: relative;
          }

          &:nth-of-type(1) {
            display: flex;
            justify-content: center;
            width: 92px;

            p {
              color: $c-nobel;
              font-size: 12px;
              font-weight: 600;
            }
          }

          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(6),
          &:nth-of-type(7),
          &:nth-of-type(8) {
            width: 100%;
            max-width: calc((100% - 92px) / 7);
            border-left: 1px solid $c-whisper;
            border-bottom: 1px solid $c-whisper;
          }
        }
      }
    }

    &-title {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 90%;
      height: 100%;
      padding: 10px;

      &:before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        background-color: $c-royalBlue;
      }

      &--merge {
        &:before {
          height: calc((100% * 2) - 5px);
        }
      }

      p,
      span {
        z-index: 2;
        position: relative;
      }

      p {
        color: $c-white;
        font-size: 12px;
        font-weight: 600;
      }

      span {
        color: $c-white;
        font-size: 12px;
      }
    }

    &-popup {
      display: none;
      position: absolute;
      top: 0;
      width: 321px;
      min-height: 186px;
      padding: 14px;
      border-radius: 4px;
      background-color: $c-white;
      box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);

      &--close {
        cursor: pointer;
      }

      > div {
        &:nth-of-type(1) {
          position: relative;
          display: flex;
          align-items: center;
          height: 45px;
          padding-bottom: 17px;
          padding-right: 42px;

          p {
            font-size: 16px;
            font-weight: 600;
          }

          span {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            width: 28px;
            height: 28px;
          }
        }

        &:nth-of-type(2) {
          div {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
          }

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            margin-right: 8px;
          }

          .icon-font {
            color: $c-nobel;
            font-size: 17px;
          }
        }

        &:nth-of-type(3) {
          display: flex;
          align-items: center;
          padding-top: 13px;

          a {
            display: flex;
            align-items: center;
            margin-right: 20px;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 28px;
              height: 28px;
              margin-right: 8px;
            }

            .icon-font {
              color: $c-nobel;
              font-size: 17px;
            }

            p {
              color: $c-matterhorn;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  // body :: end

  // btn
  &__btn {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;

    &--today {
      display: flex;
      align-items: center;
      padding-left: 20px;
      color: $c-nobel;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        margin-left: 5px;
        margin-right: 5px;
      }

      p {
        padding-left: 5px;
        padding-right: 24px;
        font-size: 16px;
        font-weight: 600;
      }

      .icon {
        &-calendar-today {
          font-size: 17px;
        }
      }
    }

    &--arrow {
      display: flex;
      align-items: center;
      color: $c-nobel;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .icon {
        &-arrow-left,
        &-arrow-right {
          font-size: 14px;
        }
      }
    }

    &--choose  {
      display: flex;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
      border-right: 1px solid $c-whisper;
      color: $c-nobel;

      > div {
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
          > div {
            opacity: 1;
            visibility: visible;
            @include transition(opacity, visibility);
          }

          > p {
            color: $c-matterhorn;
          }
        }

        > p {
          z-index: 2;
          position: relative;
        }

        > p {
          padding-right: 5px;
          font-size: 16px;
          font-weight: 600;
          @include adaptive(575) {
            font-size: 12px;
          }
        }

        > span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          margin-left: 5px;
          margin-right: 5px;
        }

        > div {
          opacity: 0;
          visibility: hidden;
          z-index: 1;
          position: absolute;
          top: -9px;
          left: -15px;
          width: 100%;
          min-width: 308px;
          height: 278px;
          padding: 14px;
          background-color: $c-white;
          box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          @include transition(opacity, visibility);

          > div {
            &:nth-of-type(1) {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              height: 34px;
              padding-bottom: 12px;

              p {
                margin-left: 10px;
                margin-right: 10px;
              }
            }

            &:nth-of-type(2) {
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 46px;
              padding-bottom: 10px;

              span {
                width: 100%;
                max-width: calc(100% / 7);
                color: $c-nobel;
                text-align: center;
              }
            }

            &:nth-of-type(3) {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              height: calc(100% - (46px + 34px));

              i,
              span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: calc(100% / 7);
                height: 26px;
                text-align: center;
                font-style: normal;
                font-weight: 600;
              }

              span {
                position: relative;
                color: $c-matterhorn;

                &:before {
                  content: '';
                  z-index: -1;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  width: 28px;
                  height: 100%;
                  margin-left: auto;
                  margin-right: auto;
                  border-radius: 100%;
                  background-color: transparent;
                }

                &.is-active {
                  color: $c-white;

                  &:before {
                    background-color: $c-royalBlue;
                  }
                }
              }
            }
          }
        }
      }

      .icon {
        &-triangle-down {
          font-size: 6px;
        }
      }
    }

    &--add,
    &--search {
      justify-content: center;
      width: 87px;
      border-left: 1px solid $c-whisper;

      .icon-font {
        color: $c-nobel;
      }
    }

    &--add {
      .icon-font {
        font-size: 19px;
      }
    }

    &--search {
      .icon-font {
        font-size: 22px;
      }
    }

    &--view {
      padding-left: 33px;
      padding-right: 25px;
      border-left: 1px solid $c-whisper;
      background-color: #fff;
      color: $c-nobel;

      > div {
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
          div {
            opacity: 1;
            visibility: visible;
            @include transition(opacity, visibility);
          }

          .icon-font {
            &.icon-triangle-down {
              transform: rotate(-180deg);
              color: #295DD9;
              @include transition(transform, color);
            }
          }
        }

        div {
          opacity: 0;
          visibility: hidden;
          white-space: nowrap;
          z-index: 0;
          position: absolute;
          top: -9px;
          left: -5px;
          width: 100%;
          min-width: 90px;
          min-height: 90px;
          padding: 51px 28px 10px 10px;
          background-color: $c-white;
          box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          @include transition(opacity, visibility);

          a {
            min-height: 24px;
            margin: 0;
          }
        }
      }

      span,
      p,
      a {
        z-index: 2;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        color: $c-nobel;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
      }

      p,
      a {
        font-size: 16px;
        font-weight: 600;
      }

      .icon {
        &-calendar {
          font-size: 17px;
        }
        &-triangle-down {
          transform-origin: center;
          font-size: 6px;
          @include transition(transform, color);
        }
      }
    }
  }
  // btn :: end

  // calendar
  &__calendar {
    &-row {
      display: flex;

      &--days {
        .m-schedule__calendar-col {
          padding: 22px 10px;

          p {
            padding-bottom: 5px;
            color: $c-royalBlue;
            font-size: 12px;
            font-weight: 600;
          }

          span,
          i {
            font-size: 18px;
            font-weight: 600;
          }

          i {
            color: $c-nobel;
            font-style: normal;
          }
        }
      }
    }

    &-col {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      max-width: calc(100% / 7);
      height: 146px;
      padding: 10px;
      border-right: 1px solid $c-whisper;
      border-bottom: 1px solid $c-whisper;

      > span {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 600;
      }

      &--info {
        position: relative;

        &:hover {
          .m-schedule__calendar-hover {
            opacity: 1;
            transform: translate(-5%, -5%) scale(1);
            @include transition(opacity, transform);
          }
        }
      }
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 33px;
      margin-left: -10px;
      margin-bottom: 1px;
      padding: 5px 10px;
      border-radius: 2px;
      background-color: $c-royalBlue;

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 81px;
        margin-right: 15px;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 600;
      }

      span {
        white-space: nowrap;
        color: #FFFFFF;
        font-size: 10px;
      }
    }

    &-hover {
      opacity: 0;
      z-index: 10;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      width: 250px;
      min-height: 230px;
      transform-origin: center;
      transform: translate(-5%, -5%) scale(0.75);
      padding: 10px;
      background: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
      @include transition(opacity, transform);

      > p {
        color: #111111;
        font-size: 12px;
        font-weight: 600;
      }

      > span {
        padding-bottom: 15px;
        color: #111111;
        font-size: 32px;
        font-weight: 600;
      }
    }
  }
  // calendar :: end
}

// SECTION meeting schedule :: END