// SECTION services rendered :: START

.services-r {
  &__body {
    background-color: $c-white;
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70px;
    padding: 5px 30px;
    border-bottom: 1px solid $c-whisper;

    p {
      font-weight: 600;
    }
  }

  &__table {
    margin-bottom: 30px;

    &-head,
    &-body {
      display: flex;
      border-bottom: 1px solid $c-whisper;
    }

    &-head {
      p {
        color: $c-nobel;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
      }
    }

    &-body {
      p {
        font-size: 14px;
        font-weight: 600;
      }
    }

    &-col {
      display: flex;
      align-items: center;
      min-width: 226px;
      min-height: 70px;
      padding: 5px 30px;
      border-right: 1px solid $c-whisper;
    }
  }
}

// SECTION services rendered :: END