// SECTION staff :: START

.staff {
  &__table {
    background-color: $c-white;

    &-head {}
    &-body {}

    &-tr {
      display: flex;
      min-height: 70px;

      &:last-of-type {
        border-bottom: 1px solid $c-whisper;
      }

      &--add {
        input {
          @include inputPlaceholder {
            color: $c-nobel;
          }
        }
      }
    }

    &-th,
    &-td {
      display: flex;
      align-items: center;
      border-right: 1px solid $c-whisper;

      &--expand {
        flex: 1;
        min-width: 1px;
        padding: 5px 30px;
      }

      &--auto {
        width: 86px;
        border-right: none;
      }
    }

    &-th {
      justify-content: space-between;

      &--auto {
        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          .icon-add {
            color: $c-nobel;
            font-size: 17px;
          }
        }
      }

      span {
        color: $c-nobel;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
      }

      .icon-table-triangle {
        color: #D0021B;
      }
    }

    &-td {
      &--auto {
        justify-content: center;

        .icon-close {
          color: $c-nobel;
        }

        .icon-check {
          color: #04ca67;
          font-size: 16px;
        }

        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }

        .c-dropdown {
          width: 100%;
          height: 100%;

          &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            .icon-more {
              color: $c-nobel;
              font-size: 4px;
            }
          }
        }
      }
    }

    &-input {
      outline: none;
      width: 100%;
      padding: 5px 0;
      border: none;
      box-shadow: none;
      border-radius: 0;
      border-bottom: 2px solid transparent;
      background-color: transparent;
      color: $c-matterhorn;
      font-size: 14px;
      font-weight: 600;
      @include transition(border);

      &--edit {
        &:focus {
          border-color: $c-whisper;
          @include transition(border);
        }
      }
    }

    &-select {
      margin-bottom: 0;

      .c-form__select-wrapper {
        height: 27px;
        border: none;
        box-shadow: none;
        border-radius: 0;
      }
      .c-form__select-value {
        color: $c-matterhorn;
        line-height: 27px;
        font-weight: 600;
        padding-left: 0;
      }
      .c-form__select-icon  {
        justify-content: flex-end;

        i {
          border-color: #D0021B transparent transparent transparent;
        }
      }
    }
  }
}

// SECTION staff :: END