// HEADER :: START

.header {
  position: relative;
  background-color: #fff;

  .hamburger {
    display: none;
    @include adaptive(575) {
      display: flex;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__btn {
    &--login {
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding-left: 30px;
      padding-right: 30px;
      border-left: 1px solid #EBEBEB;
      border-right: 1px solid #EBEBEB;
      @include transition(border-color);
      @include adaptive(575) {
        height: 36px;
        border: none
      }

      &:hover {
        border-color: #295DD9;
        @include transition(border-color);
      }
    }

    &--signup {
      max-width: 100px;
      margin-left: 30px;
      font-size: 14px;
      @include adaptive(575) {
        margin-left: 0;
        margin-top: 30px;
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      height: 70px;
      @include adaptive(575) {
        z-index: 1000;
        overflow-y: auto;
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        height: calc(100% - 70px);
        background-color: rgba($c-white, 0.95);

        &.is-open {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

// HEADER :: END