// SECTION header internal :: START

.header-i {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid $c-whisper;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left,
    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 70px;
    }

    &-left {
      width: 272px;
      border-right: 1px solid #EBEBEB;
      @include adaptive(575) {
        width: auto;
        flex: 1;
        padding-left: 15px;
        border-right: none;
      }

      &--client {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: calc(100% - 87px);
        padding-right: 32px;
        border-right: none;

        .logo {
          display: flex;
          align-items: center;
          width: 272px;
          min-height: 70px;
          transform: translateX(0) !important;
          padding-left: 17px;
          border-right: 1px solid #EBEBEB;
        }

        .c-btn {
          max-width: 124px;
        }
      }

      .logo {
        position: relative;
        transform: translateX(-17px);
      }
    }

    &-right {
      width: 87px;
      border-left: 1px solid #EBEBEB;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;

    &:hover {
      .icon-signout {
        color: $c-royalBlue;
        @include transition(color);
      }
    }

    .icon-signout {
      color: $c-nobel;
      font-size: 18px;
      @include transition(color);
    }
  }
}

// SECTION header internal :: END