// SECTION tabs :: START

-
  var tabsAgencyInterviewArr = ['Current interviews', 'Past interviews'];
  var tabsAgencyPushCloudArr = ['Active Requests', 'Requests History'];
  var tabsAgencyDocLibArr = ['Section 1', 'Section 2'];
  var tabsAgencyVideoTutorialArr = ['Section 1', 'Section 2'];
  var tabsAgencyQaArr = ['Section 1', 'Section 2', 'Section 3'];
  var tabsAgencyServicesRenderedArr = ['Quick Report', 'Interview', 'Services Rendered', 'Overall Report'];
  var tabsAgencySRSubmenudArr = ['Support Requested', 'Support Received'];


mixin tabsBtn(num, arr)
  each val, idx in arr
    li.tabs__list-item
      a.tabs__list-btn(href="#" class= (num === idx) ? 'is-active':'' title="")!= val

mixin tabsSearchBtn()
  a.tabs__search(href="#" class="" title="")
    i.icon-font.icon-search

mixin tabsUploadBtn()
  a.tabs__upload(href="#" class="" title="")
    i.icon-font.icon-upload


section#tabs.tabs(
  class!= (pageClassName === 'p-agency-services-rendered') ? 'tabs--info':''
)
  .tabs__wrapper
    .tabs__wrapper-left

      ul.tabs__list

        if(pageClassNameNum === 'p-agency-interviews-1')
          +tabsBtn(0, tabsAgencyInterviewArr)

        else if(pageClassNameNum === 'p-agency-interviews-2')
          +tabsBtn(1, tabsAgencyInterviewArr)

        else if (pageClassNameNum === 'p-agency-push-cloud-1' || pageClassNameNum === 'p-agency-push-cloud-2')
          +tabsBtn(0, tabsAgencyPushCloudArr)

        else if (pageClassNameNum === 'p-agency-push-cloud-3' || pageClassNameNum === 'p-agency-push-cloud-4')
          +tabsBtn(1, tabsAgencyPushCloudArr)

        else if (pageClassName === 'p-agency-doc-lib')
          +tabsBtn(0, tabsAgencyDocLibArr)

        else if (pageClassName === 'p-agency-vid-t')
          +tabsBtn(0, tabsAgencyVideoTutorialArr)

        else if (pageClassName === 'p-agency-qa')
          +tabsBtn(0, tabsAgencyQaArr)

        else if (pageClassNameSubmenu === 'p-agency-sr-submenu-0')
          +tabsBtn(0, tabsAgencySRSubmenudArr)

        else if (pageClassNameSubmenu === 'p-agency-sr-submenu-1')
          +tabsBtn(1, tabsAgencySRSubmenudArr)

        else if (pageClassName === 'p-agency-services-rendered')
          +tabsBtn(2, tabsAgencyServicesRenderedArr)

    .tabs__wrapper-right
      if(pageClassName === 'p-agency-interviews')
        +tabsSearchBtn()

      else if (pageClassName === 'p-agency-push-cloud')
        +tabsSearchBtn()

      else if (pageClassNameNum === 'p-agency-doc-lib-1' || pageClassNameNum === 'p-agency-doc-lib-5')
        +tabsSearchBtn()
        +tabsUploadBtn()

      else if (pageClassName === 'p-agency-vid-t')
        +tabsSearchBtn()

      else if (pageClassName === 'p-agency-qa')
        +tabsSearchBtn()

      else if (pageClassNameSubmenu === 'p-agency-sr-submenu-0' || pageClassNameSubmenu === 'p-agency-sr-submenu-1')

      else if (pageClassName === 'p-agency-services-rendered')
        p.tabs__info!= "Overall score of Alvin Brewer: <span>1.16</span>"


// SECTION tabs :: END