// SECTION reviews :: START

.reviews {
  &__wrapper {
    display: flex;

    &-left,
    &-right {
      position: relative;
      width: 50%;
      min-height: 680px;
    }

    &-left {
      padding-top: 152px;
      padding-bottom: 122px;
    }

    &-right {
      background-image: url('../img/img-reviews.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;

    &-img {
      overflow: hidden;
      position: relative;
      width: 130px;
      height: 130px;
      margin-bottom: 30px;
      border-radius: 100%;

      img {
        @extend %imageResCoverAbs;
      }
    }

    &-name {
      padding-bottom: 10px;
      color: #555555;
      font-size: 18px;
      font-weight: 600;
    }

    &-pos {
      padding-bottom: 20px;
      color: #9B9B9B;
      font-style: italic;
    }

    &-line {
      width: 80px;
      height: 2px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      border-radius: 1px;
      background-color: #295DD9;
    }

    &-desc {
      color: #9B9B9B;
      text-align: center;
      line-height: line-height-convert(22.4, 14);
    }
  }
}

// SECTION reviews :: END