// BUTTON :: START

// ==================================================
// ==================================================
// ==================================================

$bth-width: auto;
$bth-height: 36px;
$btn-border-width: 1px;
$btn-border-color: #295DD9;
$bth-border-radius: 4px;
$bth-box-shadow: none;
$bth-background-color: #295DD9;
$bth-color: rgba(#fff, 1);
$bth-font-size: 14px;
$bth-font-weight: 600;

$btn-color--border: rgba(#000, 1);

// ==================================================
// ==================================================
// ==================================================

.c-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $bth-width;
  height: $bth-height;
  padding-left: 15px;
  padding-right: 15px;
  border: $btn-border-width solid $btn-border-color;
  box-shadow: $bth-box-shadow;
  border-radius: $bth-border-radius;
  color: $bth-color;
  font-size: $bth-font-size;
  font-weight: $bth-font-weight;

  &--border {
    background-color: transparent;
    color: $btn-color--border;
  }

  &--bg {
    background-color: $bth-background-color;
    @include transition(background-color, border-color);

    &:hover {
      border-color: #4A4A4A;
      background-color: #4A4A4A;
      @include transition(background-color, border-color);
    }

    &-dark {
      border-color: #4A4A4A;
      background-color: #4A4A4A;

      &:hover {
        border-color: $bth-background-color;
        background-color: $bth-background-color;
        @include transition(background-color, border-color);
      }
    }
  }

  &__text {
    &-wrap {}
  }

  &__icon {
    &-wrap {}
  }

  &__form {
    display: flex;
    width: auto;
    height: 52px;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
  }
}

// BUTTON :: END