// SECTION great :: START

-
  var greatDataArr = [
    {
      numVal: '23',
      textVal: 'Lorem ipsum dolor'
    },
    {
      numVal: '23',
      textVal: 'Lorem ipsum dolor'
    },
    {
      numVal: '23',
      textVal: 'Lorem ipsum dolor'
    },
    {
      numVal: '23',
      textVal: 'Happy Clients'
    },
    {
      numVal: '23',
      textVal: 'Lorem ipsum dolor'
    },
    {
      numVal: '23',
      textVal: 'Hours of hard work'
    }
  ];

section#great.great
  .c-grid
    .great__wrapper

      +homepageTitleDesc('great__title', 'great__line', 'great__desc', 'Are we great or what? Yes, we are!', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')

      .great__block-wrapper
        each val, idx in greatDataArr
          .great__block(class!= "great__block-" + idx)
            p!= greatDataArr[idx].numVal
            span!= greatDataArr[idx].textVal

// SECTION great :: END