// SECTION main :: START

section#main.main
  .c-grid
    .main__wrapper

      .main__box
        h1.main__box-title!= "Welcome to Helpers United"
        .main__box-line
        p.main__box-desc!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry."

        +btn('bg main__box-btn', '', "Let's work Together")

// SECTION main :: END