// SECTION mission :: START

section#mission.mission
  .c-grid
    .mission__wrapper
      .mission__wrapper-left
        img(src="./img/img-mission.png" srcset="./img/img-mission@2x.png 2x" alt="" title="")

      .mission__wrapper-right

        +homepageTitleDesc('mission__title', 'mission__line', 'mission__desc', 'Our Mission', 'The mission of Helpers Unlimited is to embolden the giving community by providing leadership, guidance, and consistency across the philanthropic platform, to effectively protect against the fraudulent and immoral abuse of society’s generosity, and to help ensure quality stewardship of community dollars.')

// SECTION mission :: END