// SECTION we :: START

section#we.we
  .c-grid
    .we__wrapper
      +homepageTitleDesc('we__title', 'we__line', 'we__desc', 'We make great things together', "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s")

      .we__block-wrapper
        .we__block.we__block-0
          span!= "01"
          +homepageTitleDesc('we__subtitle', 'we__subline', 'we__subdesc', 'Who we are', "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a")

        .we__block.we__block-1
          span!= "02"
          +homepageTitleDesc('we__subtitle', 'we__subline', 'we__subdesc', 'What we do', "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a")

        .we__block.we__block-2
          span!= "03"
          +homepageTitleDesc('we__subtitle', 'we__subline', 'we__subdesc', 'Why we do it', "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a")

// SECTION we :: END