// SECTION work :: START

section#work.work
  .c-grid
    .work__wrapper

      +homepageTitleDesc('work__title', 'work__line', 'work__desc', 'Want to work with us?', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.')

      +btn('bg work__btn', '', "Let's Get Started!")

// SECTION work :: END