@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == add {
		$char: "\E001";
	}
	@if $filename == arrow-left {
		$char: "\E002";
	}
	@if $filename == arrow-right {
		$char: "\E003";
	}
	@if $filename == attach {
		$char: "\E004";
	}
	@if $filename == calendar-today {
		$char: "\E005";
	}
	@if $filename == calendar {
		$char: "\E006";
	}
	@if $filename == check {
		$char: "\E007";
	}
	@if $filename == client {
		$char: "\E008";
	}
	@if $filename == clock {
		$char: "\E009";
	}
	@if $filename == close {
		$char: "\E00A";
	}
	@if $filename == cog {
		$char: "\E00B";
	}
	@if $filename == delete {
		$char: "\E00C";
	}
	@if $filename == description {
		$char: "\E00D";
	}
	@if $filename == download {
		$char: "\E00E";
	}
	@if $filename == edit {
		$char: "\E00F";
	}
	@if $filename == fullscreen {
		$char: "\E010";
	}
	@if $filename == message {
		$char: "\E011";
	}
	@if $filename == minus {
		$char: "\E012";
	}
	@if $filename == more {
		$char: "\E013";
	}
	@if $filename == nav-documentLibraries {
		$char: "\E014";
	}
	@if $filename == nav-interviews {
		$char: "\E015";
	}
	@if $filename == nav-meetingSchedule {
		$char: "\E016";
	}
	@if $filename == nav-pushCloud {
		$char: "\E017";
	}
	@if $filename == nav-qa {
		$char: "\E018";
	}
	@if $filename == nav-staff {
		$char: "\E019";
	}
	@if $filename == nav-videoTutorials {
		$char: "\E01A";
	}
	@if $filename == play {
		$char: "\E01B";
	}
	@if $filename == plus {
		$char: "\E01C";
	}
	@if $filename == print {
		$char: "\E01D";
	}
	@if $filename == repeat {
		$char: "\E01E";
	}
	@if $filename == search {
		$char: "\E01F";
	}
	@if $filename == signout {
		$char: "\E020";
	}
	@if $filename == table-triangle {
		$char: "\E021";
	}
	@if $filename == triangle-down {
		$char: "\E022";
	}
	@if $filename == triangle-up {
		$char: "\E023";
	}
	@if $filename == upload {
		$char: "\E024";
	}
	@if $filename == view {
		$char: "\E025";
	}
	@if $filename == volume {
		$char: "\E026";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-add {
	@include icon(add);

}
.icon-arrow-left {
	@include icon(arrow-left);

}
.icon-arrow-right {
	@include icon(arrow-right);

}
.icon-attach {
	@include icon(attach);

}
.icon-calendar-today {
	@include icon(calendar-today);

}
.icon-calendar {
	@include icon(calendar);

}
.icon-check {
	@include icon(check);

}
.icon-client {
	@include icon(client);

}
.icon-clock {
	@include icon(clock);

}
.icon-close {
	@include icon(close);

}
.icon-cog {
	@include icon(cog);

}
.icon-delete {
	@include icon(delete);

}
.icon-description {
	@include icon(description);

}
.icon-download {
	@include icon(download);

}
.icon-edit {
	@include icon(edit);

}
.icon-fullscreen {
	@include icon(fullscreen);

}
.icon-message {
	@include icon(message);

}
.icon-minus {
	@include icon(minus);

}
.icon-more {
	@include icon(more);

}
.icon-nav-documentLibraries {
	@include icon(nav-documentLibraries);

}
.icon-nav-interviews {
	@include icon(nav-interviews);

}
.icon-nav-meetingSchedule {
	@include icon(nav-meetingSchedule);

}
.icon-nav-pushCloud {
	@include icon(nav-pushCloud);

}
.icon-nav-qa {
	@include icon(nav-qa);

}
.icon-nav-staff {
	@include icon(nav-staff);

}
.icon-nav-videoTutorials {
	@include icon(nav-videoTutorials);

}
.icon-play {
	@include icon(play);

}
.icon-plus {
	@include icon(plus);

}
.icon-print {
	@include icon(print);

}
.icon-repeat {
	@include icon(repeat);

}
.icon-search {
	@include icon(search);

}
.icon-signout {
	@include icon(signout);

}
.icon-table-triangle {
	@include icon(table-triangle);

}
.icon-triangle-down {
	@include icon(triangle-down);

}
.icon-triangle-up {
	@include icon(triangle-up);

}
.icon-upload {
	@include icon(upload);

}
.icon-view {
	@include icon(view);

}
.icon-volume {
	@include icon(volume);

}