@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == nav-documentLibraries {
		$char: "\E001";
	}
	@if $filename == nav-interviews {
		$char: "\E002";
	}
	@if $filename == nav-meetingSchedule {
		$char: "\E003";
	}
	@if $filename == nav-pushCloud {
		$char: "\E004";
	}
	@if $filename == nav-qa {
		$char: "\E005";
	}
	@if $filename == nav-staff {
		$char: "\E006";
	}
	@if $filename == nav-videoTutorials {
		$char: "\E007";
	}
	@if $filename == search {
		$char: "\E008";
	}
	@if $filename == signout {
		$char: "\E009";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-nav-documentLibraries {
	@include icon(nav-documentLibraries);

}
.icon-nav-interviews {
	@include icon(nav-interviews);

}
.icon-nav-meetingSchedule {
	@include icon(nav-meetingSchedule);

}
.icon-nav-pushCloud {
	@include icon(nav-pushCloud);

}
.icon-nav-qa {
	@include icon(nav-qa);

}
.icon-nav-staff {
	@include icon(nav-staff);

}
.icon-nav-videoTutorials {
	@include icon(nav-videoTutorials);

}
.icon-search {
	@include icon(search);

}
.icon-signout {
	@include icon(signout);

}