// SECTION sign :: START

.sign {
  @each $className, $imgName in
      (loginMain, img-login-bg-main),
      (loginAgency, img-login-bg-agency),
      (loginClient, img-login-bg-client),
      (signupMain, img-signup-bg-main),
      (signupClient1, img-signup-bg-client1),
      (signupClient2, img-signup-bg-client2),
      (signupAgency1, img-signup-bg-agency1),
      (signupAgency2, img-signup-bg-agency2),
      (signupAgency3, img-signup-bg-agency3),
  {
    &--#{$className} {
      .sign__wrapper-left {
        background-image: url("../img/#{$imgName}.jpg");
      }
    }
  }

  &__wrapper {
    display: flex;
    min-height: 100vh;
    @include adaptive(767) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      display: flex;
      align-items: flex-start;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &-left {
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: calc(100% - 500px);
      padding-left: 163px;
      padding-right: 15px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @include adaptive(1439) {
        padding-left: 15px;
      }
      @include adaptive(991) {
        max-width: calc(100% - 410px);
      }
      @include adaptive(767) {
        max-width: 100%;
      }
    }

    &-right {
      align-items: center;
      width: 500px;
      @include adaptive(991) {
        width: 410px;
      }
      @include adaptive(767) {
        width: 100%;
      }
    }

    &-top {
      padding-bottom: 50px;
      @include adaptive(767) {
        padding-bottom: 15px;
      }
    }

    &-bottom {
      padding-top: 50px;
      @include adaptive(767) {
        padding-top: 15px;
      }
    }
  }

  &__title {
    padding-top: 39px;
    padding-bottom: 20px;
    color: $c-white;
    font-size: 32px;
    font-weight: 600;
    @include adaptive(767) {
      padding-top: 20px;
    }
  }

  &__desc {
    width: 100%;
    max-width: 542px;
    padding-bottom: 80px;
    color: $c-white;
    font-size: 18px;
    font-weight: 600;
    @include adaptive(1439) {
      padding-bottom: 0;
    }
  }

  &__form {
    width: 100%;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    .c-form__field--radio {
      margin-bottom: 9px;
    }

    &-title {
      padding-bottom: 8px;
      color: #555555;
      font-size: 32px;
      font-weight: 600;
    }

    &-subtitle {
      padding-bottom: 20px;
      line-height: line-height-convert(41.6, 20);
      font-size: 20px;
      font-weight: 600;
    }

    &-link {
      padding-bottom: 32px;
      color: #9B9B9B;
      font-size: 16px;

      a {
        color: #295DD9;
      }
    }

    &-text {
      padding-bottom: 30px;
      color: #9B9B9B;
      line-height: line-height-convert(22.4, 14);
    }

    &-label {
      padding-bottom: 12px;
      font-size: 16px;
      color: #555555;
      line-height: 24px;
    }

    &-info {
      padding-top: 30px;
      text-align: center;

      a {
        position: relative;
        color: #555;

        &:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #295DD9;
        }
      }
    }
  }
}

// SECTION sign :: END